.section-bg {
    background: rgb(241, 237, 237);
}

input[type="text"]{
    width: 29vw !important;
    background-color: #fff;
    color: #393939;
}

.sch{
    margin-bottom: 2vw !important;
/*    width: 36vw !important;*/
    margin-right: auto;
}

.button-hover:hover,
.button-hover:active{
    background-color: #a0a0a0 !important;
}