input[type="text"]{
    width: 36.5vw !important;
    background-color: #f8f8f8;
/*    display: flex !important;*/
}

input[type="text1"]{
    height: 2.75em !important;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 0 1em;
    outline: 0;
    text-decoration: none;
}

input[type="text2"]{
    height: 2.75em !important;
    width: 100% !important;
    border-radius: 4px;
    border: none;
    padding: 0 1em;
    outline: 0;
    text-decoration: none;
}